html, body {margin: 0; height: 100%; overflow: hidden}

.flex-row {
  display: flex;
  height: 98vh;
  position: relative;
  margin: 5px;
}

.flex-row .row-one {
  display: flex;
  flex: 10 1 0%;
  justify-content: center;
  align-items: center;
}

.flex-row .row-one div {
    padding: 30px;
}

button {
    border-radius: 8px;
    background-color: white;
    color: #33332D;
    border: 2px solid #33332D;
    box-shadow: 5px -10px #33332D;
    transition-duration: 0.7s;
    width: 100px;
    height: 110px;
}

.hover:hover,
.hover:focus {
  background-color: #33332D;
  color: white;
  box-shadow: 5px -10px #e7e7e4;
}

textarea {
  height: 90%;
  resize: none;
  box-shadow: 4px -8px #33332D;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid #33332D;
  outline: none;
}

input {
  box-shadow: 2px -4px #33332D;
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid #33332D;
  outline: none;
}